@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap');

// Typography
@mixin fontLight {
  font-family: 'Roboto', 'Assistant';
  font-weight: 300;
}

@mixin fontRegular {
  font-family: 'Roboto', 'Assistant';
  font-weight: 400;
}

@mixin fontMedium {
  font-family: 'Roboto', 'Assistant';
  font-weight: 500;
}

@mixin fontSemiBold {
  font-family: 'Roboto', 'Assistant';
  font-weight: 600;
}

@mixin fontBold {
  font-family: 'Roboto', 'Assistant';
  font-weight: 700;
}

@mixin fontBlack {
  font-family: 'Roboto', 'Assistant';
  font-weight: 900;
}
