@import 'styles/index';

.btn {
  width: rem(200px);
  height: rem(50px);
  font-size: rem(20px);
  border-radius: rem(5px);
  margin-top: rem(20px);
  background: rgb(199, 23, 23);
  color: white;
  border: none;

  &:hover {
    background: rgb(228, 49, 49);
  }
}
